body {
    min-width: 300px;
}

#theme {
    background-color: #72bab9;
    border-radius: 15px;
    margin: 20px;
    padding: 40px;
    font-family: 'Roboto', sans-serif;

}

.calculatorContainer {
    justify-content: center;
    display: grid;
    align-content: center;
    padding: 40px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(120px, auto) repeat (5,100px);
   
    
    
}

button {
    border: solid 1px whitesmoke;
    justify-content: center;
    align-items: center;
    height: 40px;    
    background-color: black;
    opacity: 60%;
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;

  
    
}
button:hover {
    background-color: blanchedalmond;
    color: black;
}

.display {
     grid-column: 1 / -1;
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     align-content: center;
     padding: 10px;
     background-color: #aab4b4;
     opacity: 90%;
     flex-direction: column;
     word-wrap: break-word;
     word-break: break-all; 
 }

 .display .previous-operand { 
     font-size: 10px;
 }

 .display .current-operand {
     font-size: 25px;
 }


 .large-button {
     grid-column: span 2;
 }

.mode-button{
    padding: 20px;
    margin: 20px;
    background-color: #aab4b4;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 15px;


}

.dark-mode:hover {
    box-shadow: -5px -5px 30px 5px black, 5px 5px 30px 5px darkgray;

}

.light-mode:hover {
    box-shadow: -5px -5px 30px 5px whitesmoke, 5px 5px 30px 5px silver;
}

.color-mode:hover {
    box-shadow: -5px -5px 30px 5px rgb(18, 143, 95), 5px 5px 30px 5px #72bab9

}

